
    <footer>
     <img src="/Imagenes/LogoGrande.png" alt="LogoGrande">

        <section class = "footerSection">
        <h3>Gestor del Tiempo ⏳</h3>
        <p>Tu aliado para planificar, priorizar y aprovechar cada minuto del día.</p>
       </section>

       <section  class = "footerSection">
        <h4>Enlaces útiles</h4>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Tareas</a></li>
            <li><a href="#">Calendario</a></li>
         
        </ul>
         </section>

    <section  class = "footerSection">
        <h4>Contacto</h4>
        <p>Email: soporte@gestordeltiempo.com</p>
        <p>Tel: +54 9 11 5555-1234</p>
        <p>Dirección: Av. Productividad 123, Buenos Aires, Argentina</p>
    </section>

    <section  class = "footerSection"  >
        <h4>Seguinos</h4>
        <p>
           
            <a href="https://www.facebook.com"><img class = "redSocial" src="/Imagenes/logoFacebook.png"> </a> 
            <a href="https://x.com/?lang=es"><img  class = "redSocial " src="/Imagenes/X.png" alt="LogoGrande"> </a> 
            <a href="https://www.instagram.com"><img  class = "redSocial " src="/Imagenes/Instagram-Logo.png" alt="LogoGrande"></a> 
        </p>
    </section>

    <hr>
      <div class="derechos">
          &copy; @DateTime.Now.Year - StartTime
      </div>
       
    </footer>