<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

    </div>
  </div>
</nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>

</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>





    <footer>
                         <img src="/Imagenes/LogoGrande.png" alt="LogoGrande">

        <section>
        <h3>Gestor del Tiempo ⏳</h3>
        <p>Tu aliado para planificar, priorizar y aprovechar cada minuto del día.</p>
    </section>

    <section>
        <h4>Enlaces útiles</h4>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Tareas</a></li>
            <li><a href="#">Calendario</a></li>
         
        </ul>
    </section>

    <section>
        <h4>Contacto</h4>
        <p>Email: soporte@gestordeltiempo.com</p>
        <p>Tel: +54 9 11 5555-1234</p>
        <p>Dirección: Av. Productividad 123, Buenos Aires, Argentina</p>
    </section>

    <section>
        <h4>Seguinos</h4>
        <p>
            <a href="#">🌐 Sitio web</a> |
            <a href="#">📘 Facebook</a> |
            <a href="#">🐦 Twitter</a> |
            <a href="#">📸 Instagram</a> |
        </p>
    </section>

    <hr>

        &copy; @DateTime.Now.Year - StartTime
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
