USE [master]
GO
/****** Object:  Database [StartTime]    Script Date: 13/11/2025 12:12:17 ******/
CREATE DATABASE [StartTime]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StartTime', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\StartTime.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StartTime_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\StartTime_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StartTime].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StartTime]
GO
/****** Object:  User [alumno]    Script Date: 13/11/2025 12:12:17 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Alarmas]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarmas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NULL,
	[Dia] [date] NULL,
	[Duracion] [int] NULL,
	[Activo] [bit] NULL,
	[IDusuario] [int] NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_Alarmas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[Finalizado] [bit] NULL,
	[Descripcion] [varchar](50) NULL,
	[Duracion] [int] NULL,
	[IDusuario] [int] NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiempoLibre]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiempoLibre](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [date] NULL,
	[Horas] [int] NULL,
	[IDusuario] [int] NULL,
 CONSTRAINT [PK_TiempoLibre] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Foto] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarmas]  WITH CHECK ADD  CONSTRAINT [FK_Alarmas_Usuario] FOREIGN KEY([IDusuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Alarmas] CHECK CONSTRAINT [FK_Alarmas_Usuario]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Usuario] FOREIGN KEY([IDusuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Usuario]
GO
ALTER TABLE [dbo].[TiempoLibre]  WITH CHECK ADD  CONSTRAINT [FK_TiempoLibre_Usuario] FOREIGN KEY([IDusuario])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[TiempoLibre] CHECK CONSTRAINT [FK_TiempoLibre_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTarea]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarTarea]
@T varchar(50), @F bit, @Des varchar(50), @Dur varchar(50), @I int, @X int
AS
	
BEGIN
UPDATE Tarea SET Titulo = @T ,Finalizado = @F ,Descripcion = @Des ,Duracion = @Dur ,IDusuario = @I WHERE ID = @X

END
GO
/****** Object:  StoredProcedure [dbo].[BorrarAlarma]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BorrarAlarma]
@IdAlarma int
AS
	
BEGIN
DELETE FROM Alarmas WHERE ID = @IdAlarma	
END
GO
/****** Object:  StoredProcedure [dbo].[BorrarTarea]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BorrarTarea]
@IdT int
AS
	
BEGIN
DELETE FROM Tarea WHERE ID = @IdT
END
GO
/****** Object:  StoredProcedure [dbo].[CrearAlarma]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CrearAlarma]
	@T varchar(50),@Dia date ,@Dur varchar(50),@Act bit,@I int
AS
BEGIN
INSERT INTO Alarmas (Tipo,Dia,Duracion,Activo,IDusuario) VALUES (@T,@Dia,@Dur,@Act,@I)END
GO
/****** Object:  StoredProcedure [dbo].[CrearTarea]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CrearTarea]
	@T varchar(50),@F bit,@Des varchar(50),@Dur int,@I int
AS
BEGIN
INSERT INTO Tarea (Titulo,Finalizado,Descripcion,Duracion,IDusuario) VALUES (@T,@F,@Des,@Dur,@I)
END
GO
/****** Object:  StoredProcedure [dbo].[IniciarSesion]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[IniciarSesion]
	@PUserName varchar(50), @PContraseña varchar(50)
AS
BEGIN
	SELECT * FROM Usuario WHERE Username = @PUserName AND Contraseña = @PContraseña 
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAlarma]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerAlarma]
	@iDA int 
AS
BEGIN
SELECT * FROM Alarmas WHERE ID = @IDA
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerAlarmas]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerAlarmas]
	@IdU int 
AS
BEGIN

SELECT * FROM Alarmas WHERE IDusuario = @idu
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTarea]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTarea]
	@Idt int 
AS
BEGIN

SELECT * FROM Tarea WHERE ID = @idT
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTareas]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTareas]
	@IdU int 
AS
BEGIN

SELECT * FROM Tarea WHERE IDusuario = @idu

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTiempoLibre]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTiempoLibre]
@idUsuario int
AS
	
BEGIN
SELECT * FROM TiempoLibre WHERE IDusuario = @idUsuario
END
GO
/****** Object:  StoredProcedure [dbo].[Registrarse]    Script Date: 13/11/2025 12:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Registrarse]
	 @UsuarioNombre varchar(50),   @UsuarioEmail varchar(50), @UsuarioContraseña varchar(50), @UsuarioUsername varchar(50), @UsuarioFoto varchar(50)
AS
BEGIN
declare @registrado bit
	IF EXISTS ( Select 1 FROM Usuario WHERE Nombre = @UsuarioNombre)
	begin 
	 set @registrado = 1;
	   SELECT @registrado AS Registrado;
    return 

	end

	INSERT INTO Usuario (Email, Username, Contraseña, Nombre, Foto) VALUES (@UsuarioEmail, @UsuarioNombre, @UsuarioContraseña, @UsuarioUsername, @UsuarioFoto)
	 set @registrado = 0;
	 SELECT @registrado AS Registrado
END
GO
USE [master]
GO
