@{
    ViewData["MostrarHeader"] = true;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarmas</title>
    
    <link rel="stylesheet" href="styles.css"> 
</head>
<header></header>
<body>
    <div class="alarmas"> 
        
        <h1>Alarmas</h1>
        
        <div class="alarmas-top-actions">
            
            <button type="button" onclick="NuevaAlarma()" class="alarmas-boton-action alarmas-agregar">
                <span class="alarmas-plus-icon">+</span> Agregar
            </button>
            
            <button type="button" id="mostrarBuscar" class="alarmas-boton-action alarmas-tipos">
                 <span class="alarmas-plus-icon">+</span> Buscar Alarma
            </button>
        </div>
        
        <div id="buscadorContainer" style="display:none;" class="alarmas-buscador-container">
            <input type="text" id="buscador" placeholder="Buscar...">
            <ul id="lista"></ul>
        </div>
        
        <div id="infoBox"></div>
        
        <div hidden id="Hidden" class="alarmas-formulario-creacion"> 
            <h2>Crear Nueva Alarma</h2>
            <div class="alarmas-form-group">
                <label for="NombreAlarma">Nombre</label> 
                <input type="text" id="NombreAlarma">
            </div>
            <div class="alarmas-form-group">
                <label for="AlarmaTime">Hora</label>
                <input type="datetime-local" id="AlarmaTime">
            </div>
            
            <div class="alarmas-botones-abajo">
                 <button type="button" onclick="AgregarAlarma()" class="alarmas-boton">Agregar</button>
            </div>
        </div>
        
        <p id="ErrorCrearAlarma"></p>
        <h2 id="AlarmaCreada"></h2>
        
        <div class="alarmas-lista-alarmas">
            </div>
    </div>
    
    <script src="~/js/Util.js"></script>
</body>
<footer></footer>
</html>