@{
    ViewData["MostrarHeader"] = true;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alarmas</title>
    
    <link rel="stylesheet" href="styles.css"> 
</head>
<header></header>
<body>
    <div class="alarmas-contenedorPrincipal"> 
        
        <h1 class="alarmah1">Alarmas </h1>
        <div class="botones-principal"> 
    

             <div class="botones-superiores">
            <img class="signoMas" src="/Imagenes/signoMas.png" alt="">
              <button type="button" onclick="NuevaAlarma()">Nueva Alarma</button>
            </div>

              <div class="botones-superiores">
                  <img class="lupa" src="/Imagenes/Lupa.png" alt="">
               <button type="button" id="mostrarBuscar" class="alarmas-boton-action alarmas-tipos">
                 <a href="#" type="button" id="mostrarBuscar" class="boton">Buscar Alarma</a>
            </button>
             </div>

         </div>
        
        <div id="buscadorContainer"  class = "buscadorContainer" style="display:none;" class="alarmas-buscador-container">
            <input type="text" id="buscador" placeholder="Buscar...">
            <ul id="lista"></ul>
        </div>
        
        <div hidden id="infoBox" class= "infoBox"></div>
           
      
        <div hidden id="Hidden" class="infoBoxCrear"> 
            <h2>Crear Nueva Alarma</h2>
            <div class="alarmas-form-group">
                   <div class="form-floating mb-3">
                   <input type="text" class="form-control"  id="NombreAlarma" name="username">
                <label for="floatingInput" style= "color: #d9c6a7;">Nombre</label> 
               </div>
                
            </div>
            <div class="alarmas-form-group">
            <div class="form-floating mb-3">
                   <input type="datetime-local" class="form-control" id="AlarmaTime" name="username">
                <label for="floatingInput" style= "color: #d9c6a7;">Hora</label> 
               </div>
              
              
            </div>
            
            <div class="botones-Agregar">
                 <button type="button" onclick="AgregarAlarma()" class="alarmas-boton">Agregar</button>
            </div>
        </div>
        
        <p id="ErrorCrearAlarma"></p>
        <h2 id="AlarmaCreada"></h2>
        
        
    </div>
    
    <script src="~/js/Util.js"></script>
</body>

@section FooterContent {
    <partial name="_FooterPartial" />
}
</html>