@{
    ViewData["Title"] = "Tiempo Libre";
}

<h1>Tenés ____ horas libres</h1>

<section>

    <h2>Tiempo Libre</h2>

    <img src="wwwroot/Imagenes/TareasPendientes.png" alt="alternative text"></img>

    <h5>Total: ____</h5>
</section>

    <section>

    <h2>Tiempo Libre</h2>


    <img src="wwwroot/Imagenes/TiempoLibre.png" alt="alternative text"></img>

    <h5>Total: ____</h5>
</section>

