@{
    ViewData["Title"] = "Landing";
}
@section FooterContent {
    <partial name="_FooterPartial" /> 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">


    
<header >
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="LandingPage.cshtml"><img class= "logo" src="/Imagenes/LogoGrande.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link active"  href='@Url.Action("DLogin", "Account")'>LogIn </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='@Url.Action("DRegistrarse", "Account")'>Registrarse</a>
        </li>
      
      </ul>
    </div>
  </div>
</nav>
</header>

</head>
<body>



<main>
<div class = "inicio">

<h1> StartTime </h1>
<h2> Haz que cada segundo cuente <h2>

</div>



<section class = "primeraDeLanding">
 <img src="/Imagenes/GenteEstudiando(Primera).jpg" alt="Persoan estresada">

<div class= "divDePrimeraLanding">
 <h2>Organizá tu tiempo. Alcanzá tus metas.</h2>
 <p> La app creada por estudiantes para estudiantes.   <p>
<p> Planificá tus tareas, controlá tus horarios y encontrá tu equilibrio entre estudio y descanso.  <p>
 <a href= '@Url.Action("DRegistrarse", "Account")'>Empezar ahora</a>
</div>
</section>


<section class = "beneficios" >

<h2> Por qué StartTime te va a cambiar la rutina </h2>

<div class="grid text-center">
  <div class="g-col-6 g-col-md-4">
    <div class="col">
      <div class="card h-100">
        <img src="/Imagenes/ChicoDeCumplísincorrer.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cumplí sin correr</h5>
          <p class="card-text">Dejá atrás las entregas de último momento. Planificá tus tareas y llegá con tiempo, sin estrés.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="g-col-6 g-col-md-4">
    <div class="col">
      <div class="card h-100">
        <img src="/Imagenes/ControldeLasemana.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tené el control de tu semana</h5>
          <p class="card-text">Visualizá tus horarios, exámenes y metas. Todo en un solo lugar, fácil y ordenado.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="g-col-6 g-col-md-4">
    <div class="col">
      <div class="card h-100">
        <img src="/Imagenes/organizadoImagen.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Organizate sin perder la calma</h5>
          <p class="card-text">StartTime te guía paso a paso para mantenerte enfocado y motivado sin sentirte abrumado.</p>
        </div>
      </div>
    </div>
  </div>
</div>




</section>



</section>

  <section class = "comoEmpezo">
    <img src="/Imagenes/1persona_estresada.jpg" alt="Persoan estresada">
     <div>
      <h2>Como Empezo</h2>
      <p> Todo empezó con un compañero.   <p>

       <p> Siempre llegaba con buenas ideas, pero nunca a tiempo. Entre clases, trabajos, exámenes y distracciones, los días se le pasaban volando,
        y los TPs terminaban entregándose a las corridas. Nos dimos cuenta de que no era solo su problema: era el nuestro también.   <p>

       <p>  De esa experiencia nació StartTime, una aplicación creada por y para estudiantes que quieren aprovechar su tiempo sin morir en el intento.
           Sabemos lo que es tener mil cosas en la cabeza, por eso diseñamos una herramienta simple, intuitiva y motivadora que te ayuda a planificar tus tareas, 
           concentrarte mejor y cumplir tus objetivos sin perder el equilibrio. </p>
     </div>

  </section>




  <section class = "paraOrganizarce">
        <h2> Todo lo que necesitás para organizarte</h2>
        <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        #1 Calendario inteligente
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
        <strong>Planificá tus semanas con anticipación.</strong> Olvidate de los calendarios confusos o los recordatorios que nunca llegan. Con StartTime podés ver todas tus entregas, exámenes y actividades en una sola vista clara y ordenada.
Ajustá tus horarios según tus tiempos y visualizá tu progreso real. Porque cuando sabés qué tenés que hacer, todo se vuelve más fácil.
          <img class="calendarioImg" src="/Imagenes/CalendarioView.png" alt="Calendario">
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
      #2 Gestión de tareas y eventos
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong>Dejá atrás las listas infinitas o los papeles sueltos.</strong> Con StartTime podés crear, organizar y completar tus tareas con solo unos clics.
Agregá tus TPs, recordatorios o pendientes, agrupalos por materia y marcá lo que vas logrando. Cada tarea tachada es una pequeña victoria que te acerca a tus objetivos.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        #3 Horas libres y productividad
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
        <strong>No todo es estudiar: el descanso también es parte del rendimiento.</strong> StartTime te ayuda a identificar tus momentos libres para que puedas aprovecharlos al máximo —ya sea para relajarte, salir o simplemente desconectarte.
         Encontrá el equilibrio entre tus obligaciones y tu bienestar, y descubrí cómo organizarte también significa tener más tiempo para vos.
      </div>
    </div>
  </div>
  
</div>

  </section >

   <h2 class = "h2Usuario">Nuestros Usuarios</h2>

<section class = "usuarios">
   <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/Imagenes/HenriqueFontana.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> Henrique Fontana</h5>
        <p class="card-text">“Antes me costaba concentrarme y siempre sentía que el día no me alcanzaba. Con StartTime aprendí a planificar mejor y aprovechar cada hora. ¡Ahora soy mucho más productivo!”</p>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/Imagenes/MatiasCappella.webp" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Matias Cappella</h5>
        <p class="card-text">“Gracias a StartTime logré equilibrar mis horarios entre la universidad y el trabajo. Es una aplicación clara, con funciones que realmente te ayudan a aprovechar cada minuto del día.”</p>
       
      </div>
    </div>
  </div>
</div>

</section>
</main>
</body>

