<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>


<main>
<h1> StartTime </h1>
<h2> Haz que cada segundo cuente <h2>

<section>
 <img src="/Imagenes/Personaestresada.png" alt="Persoan estresada">

<div>
 <h2>Organizá tu tiempo. Alcanzá tus metas.</h2>
 <p> La app creada por estudiantes para estudiantes.   <p>
<p> Planificá tus tareas, controlá tus horarios y encontrá tu equilibrio entre estudio y descanso.  <p>
 <a href="Link_Registrarse">Empezar ahora</a>
</div>

<section>

<h2> Nuestros Beneficios </h2>
<h4> Por qué StartTime te va a cambiar la rutina </h4>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cumplí sin correr</h5>
        <p class="card-text">Dejá atrás las entregas de último momento. Planificá tus tareas y llegá con tiempo, sin estrés.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tené el control de tu semana</h5>
        <p class="card-text">Visualizá tus horarios, exámenes y metas. Todo en un solo lugar, fácil y ordenado.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Organizate sin perder la calma    </h5>
        <p class="card-text">StartTime te guía paso a paso para mantenerte enfocado y motivado sin sentirte abrumado.</p>
      </div>
    </div>
     </div>
 



</section>



</section>

  <section>
    <img src="/Imagenes/Personaestresada.png" alt="Persoan estresada">
     <div>
      <h2>Como Empezo</h2>
      <p> Todo empezó con un compañero.   <p>

       <p> Siempre llegaba con buenas ideas, pero nunca a tiempo. Entre clases, trabajos, exámenes y distracciones, los días se le pasaban volando,
        y los TPs terminaban entregándose a las corridas. Nos dimos cuenta de que no era solo su problema: era el nuestro también.   <p>

       <p>  De esa experiencia nació StartTime, una aplicación creada por y para estudiantes que quieren aprovechar su tiempo sin morir en el intento.
           Sabemos lo que es tener mil cosas en la cabeza, por eso diseñamos una herramienta simple, intuitiva y motivadora que te ayuda a planificar tus tareas, 
           concentrarte mejor y cumplir tus objetivos sin perder el equilibrio. </p>
     </div>

  </section>




  <section>
        <h2> Funcionalidades Principales </h2>
        

  </section>
</main>
</body>


  