@{
    ViewData["Title"] = "Perfil";
}

<section>

    <button type="button" class="btn-close" aria-label="Close"></button>

</section>

<section>

    <h2>Tu Perfil</h2>

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">

	    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m0 0a8.95 8.95 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.95 8.95 0 0 0 12 21m3-11a3 3 0 1 1-6 0a3 3 0 0 1 6 0" />
    
    </svg>

    <h4>AAAAA<h4>
</section>

<section class="register-box">
    <h1>Editar Informaci칩n</h1>
    
    <form>
        <ul>
            <li>Mail: 
                <input type="text" name="UserName" id="IdUserName">
            </li>

            <li>Usuario: 
                <input type="password" name="Contrase침a" id="IdContrase침a">
            </li>

        </ul>
 
        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>

    </form>

</section>

        <button type="button" class="btn btn-primary btn-lg">Cerrar Sesi칩n</button>
