@{
    ViewData["Title"] = "Registrarse";
}
<section class="register-box">
    <h1>Registrarse en ST</h1>
    
    <form >
        <ul>
            <li>Mail: 
                <input type="text" name="UserName" id="IdUserName">
            </li>

            <li>Usuario: 
                <input type="password" name="Contraseña" id="IdContraseña">
            </li>

            <li>Nombre: 
                <input type="text" name="Nombre" id="IdNombre">
            </li>

            <li>Contraseña: 
                <input type="text" name="Apellido" id="IdApellido">
            </li>

            <li>Foto usuario: 
                <input type="text" name="Foto" id="IdFoto">
            </li>
        </ul>
 
        <button type="button" class="btn btn-primary btn-lg">Crear Usuario</button>
    </form>

    <p>Ya tenés cuenta, 
        <a>Log In</a>
    </p> 
</section>
